<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifms.edu.projectandroid_3712_viniciusbuchara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyourenTempleNetwork">
        <activity
            android:name=".FumoCarActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
        />
        <activity
            android:name=".SeijaRoomActivity"
            android:exported="false" />
        <activity
            android:name=".KokoMoodsActivity"
            android:exported="false" />
        <activity
            android:name=".GroupSelection"
            android:exported="false" />
        <activity
            android:name=".ListThingsActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".CharacterSelection"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>